nav li {
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav>ul {
    display: flex;
}

nav li:hover {
    background-color: lightblue;
}

.dropdown {
    display: none;
    background-color: blueviolet;
}

nav>ul>li:hover>ul {
    display: block;
    position: absolute;

}