<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .login-form {
            display: flex;
            width: 50%;
            flex-direction: column;
        }

        .login-form input {
            margin-top: 10px;
            font-size: 1.5em;
            padding: 5px 10px;
            border-radius: 10px;
            border-width: 1%;
        }

        .login-form input[type="submit"] {
            background-color: gold;
        }
    </style>
</head>

<body>
    <form action="" class="login-form">
        <h3>please login</h3>
        <input type="email" name="" id="" placeholder="your email address" required>
        <input type="password" name="" id="" required>
        <input type="submit" value="login now">
    </form>
</body>

</html>